@model Omaha_market.Models.AccountModel

@{
    ViewData["Title"] = "Account";
}

<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<div class="login">

<br />

<form href="#" method="post">
    <div class="bd"  align="center">
       
            
            <div>
                @ViewBag.Lang["Имя:"]
                <input type="text" asp-for="Name" value="@Model.Name" />

                <div>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

            </div>
            <br />
            <div>
                @ViewBag.Lang["телефон:"]
            <input type="tel" asp-for="PhoneNumber" value="@Model.PhoneNumber" />

                <div>
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

            </div>
            <br />
            <div>

                E-mail:
            <input type="email" asp-for="Email" value="@Model.Email" />

                <div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

            </div>

                 <br />
            <div>

                @ViewBag.Lang["Адрес:"]
            <input type="text" asp-for="Address" value="@Model.Address" />

                <div>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>

            </div>
            <br />

            <div>

                @ViewBag.Lang["логин :"]
            <input type="text" asp-for="Login" value="@Model.Login" />

                <div>
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>

            </div>
            <br />

        <div class="text-center">
                <button type="submit">@ViewBag.Lang["Изменить"]</button>
        </div>

        <br />
    </div>
</form>
</div>
