@model Omaha_market.Models.AccountModel
@{
    ViewData["Title"] = "Index";
}

<div >
    <div class="text-center">Нou are logged in as @Model.Name</div>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Login</th>
            <th>Address</th>
            <th>Email</th>
            <th>PhoneNumber</th>
        </tr>
            <tr>
                <td>@Model.Name</td>
                <td>@Model.Login</td>
                <td>@Model.Address</td>
                <td>@Model.Email</td>
                <td>@Model.PhoneNumber</td>           
            </tr>           
    </table>
    
    <br />

    <div class="home">
        <form method="get" asp-action="LogOut" asp-controller="Authorization"><button type="submit">Log Out</button></form>
        <form method="get" asp-action="AccountEdit" asp-controller="Users" asp-route-id="@Model.ID"><button type="submit">Edit</button></form>
        <form method="post" asp-action="Delete" asp-controller="Users" asp-route-id="@Model.ID"><button type="submit">Delete</button></form>
    </div>
   
    
</div>
