@model Omaha_market.Models.AccountModel
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/personalCab.css" asp-append-version="true" />

<div class="Cab">
    <h5 class="text-center">Нou are logged in as @Model.Name</h5>
    <br />
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Login</th>
            <th>Address</th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th></th>
            </tr>
        </thead>
            <tr>
            <td data-label="Name: ">@Model.Name</td>
            <td data-label="Login: ">@Model.Login</td>
            <td data-label="Address: ">@Model.Address</td>
            <td data-label="Email: ">@Model.Email</td>
            <td data-label="PhoneNumber: ">@Model.PhoneNumber</td>
            <td>
                <form method="get" asp-action="AccountEdit" asp-controller="Users" asp-route-id="@Model.ID"><button align="center" type="submit">Edit</button></form>
            </td>
            </tr>           
    </table>
    
    <br />

    <div class="home">
        <form method="get" asp-action="LogOut" asp-controller="Authorization"><button class="Delete" type="submit">Log Out</button></form>
        <form method="post" asp-action="Delete" asp-controller="Users" asp-route-id="@Model.ID"><button class="Delete" type="submit">Delete Account</button></form>
    </div>

    <br />
</div>
