@model Omaha_market.Models.ProductModel
@{
    ViewData["Title"] = "Edit Product";
}



<h1 align="center">Edit Product</h1>

<br />
<br />

<form enctype="multipart/form-data" method="post" >
    <div align="center">
        <div align="center">

            <div>
                nameRu:
                <input type="text" asp-for="NameRu" value="@Model.NameRu" />
                <span style="margin:30px" size="50">|</span>
                nameRo:
                <input type="text" asp-for="NameRo" value="@Model.NameRo" />

                <div>
                    <span asp-validation-for="NameRu" class="text-danger"></span>
                </div>

            </div>
            <br />
            <div>
                Now is - <img src="~/Images/@Model.Img" width="100" height="100" />
                Img:
                <input type="file" name="photo" />

            </div>
            <br />
            <div>

                DisRu:
                <input type="text" asp-for="DescriptionRu" value="@Model.DescriptionRu" />
                <span style="margin:30px" size="50">|</span>
                DisRo:
                <input type="text" asp-for="DescriptionRo" value="@Model.DescriptionRo" />

                <div>
                    <span asp-validation-for="DescriptionRu" class="text-danger"></span>
                </div>

            </div>

            <br />
            <div>

                Prise:
                <input type="number" asp-for="Price" value="@Model.Price" />

                <div>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

            </div>
            <div>

                Prise:
                <input type="number" asp-for="PriceOnDiscount" value="@Model.PriceOnDiscount" />

                <div>
                    <span asp-validation-for="PriceOnDiscount" class="text-danger"></span>
                </div>

            </div>
            <br />

            <div>

                Category:
                <select asp-for="CategoryRu">
                    @foreach (var item in (List<CategoryModel>)ViewData["CategoryModel"])
                    {
                        if (item.NameRu==Model.CategoryRu)
                        {
                            <option selected value=@item.NameRu>@item.NameRu</option>
                        }
                        else{
                        <option value=@item.NameRu>@item.NameRu</option>
                        }
                    }
                </select>
                <div>
                    <span asp-validation-for="CategoryRu" class="text-danger"></span>
                </div>

            </div>
            <br />
            <div>
                On Discount:
                <input type="checkbox" asp-for="OnDiscount" value="@Model.OnDiscount" />

                FromSome:
                <input type="checkbox" asp-for="FromSome" value="@Model.FromSome" />
            </div>

            <br />
            amount:
            <input type="number" asp-for="amount" value="@Model.amount"/>

            <div>
                <span asp-validation-for="amount" class="text-danger"></span>
            </div>

        </div>

        <br />

        <div class="text-center">
            <button type="submit"> Edit </button>
        </div>

        <br />
    </div>
</form>
