@model List<OrderModel>

<table class="table">
    <tr>
        <td>Id</td>
        <td>способ оплаты</td>
        <td>Id-транзакции</td>
        <td>ссылки на товары-количество</td>
        <td>Сумма</td>
        <td>Имя</td>
        <td>телефон</td>
        <td>Адрес</td>
        <td>комментарий</td>
        <td></td>
    </tr>
   
        @foreach(var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.PaymentMethod</td>
            <td>@item.IdOfTransaction</td>
            <td><a asp-action="ProductsInOrder" asp-controller="Admin" asp-route-id="@item.Id">Список Товаров!</a></td>
            <td>@item.PriceOfOrder</td>
            <td>@item.Name</td>
            <td>@item.PhoneNumber</td>
            <td>@item.Address</td>
            <td>@item.CommentToOrder</td>
            <td> <a asp-action="WantDeleteOrder" asp-controller="Admin" asp-route-id="@item.Id"><img src="~/Images/WebElements/крест.png"width="15px" height="15px" /></a></td>
        </tr>
        }
   
</table>