@model Omaha_market.Models.ProductModel
@{
    ViewData["Title"] = $"{Model.NameRo}";
}
<link rel="stylesheet" href="~/css/Details.css" asp-append-version="true" />


<div class="Details">

        @if ((bool)ViewData["IsRu"])
        {
            <h1 class="text-center"> @Model.NameRu</h1>
        }
        else
        {
            <h1 class="text-center"> @Model.NameRo</h1>
        }


<div class="product-container">
    <img src="~/Images/@Model.Img" class="product-image" />
    <div class ="product-description">

        <span align="left" class="element">Описание :</span>
       
            @if ((bool)ViewData["IsRu"])
            {
                <div class="dis">@Model.DescriptionRu</div>
            }
            else
            {
                <div class="dis"> @Model.DescriptionRo</div>
            }
            <br />

            <span align="left" class="element">Цена :</span>
            @if (Model.OnDiscount)
            {
                <div style="text-decoration:line-through; color:gray;">@Model.Price</div>
                <h3 style="color:darkred;">@Model.PriceOnDiscount</h3>
            }
            else
            {
                <h3>@Model.Price</h3>
            }

            <span align="left" class="element">Количество на складе :</span>
               @Model.amount
            @if ((bool)ViewData["IsAdmin"])
            {
                 <div class="product-action-buttons">
                    <a asp-action="Edit" asp-controller="Admin" asp-route-id="@Model.Id">Edit</a>
                    <a asp-action="WantDelete" asp-controller="Admin" asp-route-id="@Model.Id">Delete</a>
                    <a class="Favorite" asp-action="AddInFavorite" asp-controller="Market" asp-route-id="@Model.Id"><img height="30" src="~/Images/WebElements/like.png" /></a>
                 </div>
            }
            else
            {
                <div class="product-action-buttons">
                    <a class="Buy" asp-action="Buy" asp-controller="Pay" asp-route-id="@Model.Id">Buy</a>
                    <a class="ShopingCart" asp-action="AddInShopingCart" asp-controller="Market" asp-route-id="@Model.Id"><img height="30" src="~/Images/WebElements/shopping-cart.png" /></a>
                    <a class="Favorite" asp-action="AddInFavorite" asp-controller="Market" asp-route-id="@Model.Id"><img height="30" src="~/Images/WebElements/like.png" /></a>
                </div>
            }

    </div>
</div>
</div>

<br />
<br />
<br />

<h1>Похожие </h1>
<div class="product-container">
    @foreach (var item in (List<ProductModel>)ViewData["Same"])
    {
        <a asp-action="Details" asp-controller="Market" asp-route-id="@item.Id">
            <div class="product">
                  
                <img src="~/Images/@item.Img" alt="@item.NameRu" width="100" height="100" />

                <h5>@item.NameRu</h5>
                @if (item.OnDiscount)
                {
                    <div style="text-decoration:line-through; color:gray;">@item.Price</div>
                    <h3 style="color:darkred;">@item.PriceOnDiscount</h3>
                }
                else
                {
                    <h3>@item.Price</h3>
                }
                <a class="Buy" asp-action="Buy" asp-controller="Pay" asp-route-id="@item.Id">Buy</a>
            </div>
        </a>
    }  
</div>

<a class="On" asp-action="Category" asp-controller="Market" asp-route-Name="@Model.CategoryRu">
    <div class="text-center">
        Показать Еще
    </div>
</a>
