
@{
    ViewData["Title"] = "Market";
}
<h5> @ViewData["Mailmessage"] </h5>

<br />
@if (ViewData["Category"] != null){
<button style="width: 100%; justify-content:center;" class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        @ViewBag.Lang["Категории"]
</button>

<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <div align="center">
            @foreach (var item in (List<CategoryModel>)ViewData["Category"])
            {
                <div>
                    <a class="On" asp-action="Category" asp-controller="Market" asp-route-Name="@item.NameRu">
                        @if ((bool)ViewData["IsRu"])
                        {
                            @item.NameRu
                        }
                        else
                        {
                            @item.NameRo
                        }
                    </a>
               </div>
            }
        </div>
    </div>
</div>
}

@if (ViewData["OnDiscount"] != null){
    <h1>@ViewBag.Lang["На Скидках"]</h1>
      <div class="product-container">
            @foreach (var item in (List<ProductModel>)ViewData["OnDiscount"])
            {
            <a asp-action="Details" asp-controller="Market" asp-route-id="@item.Id">
                <div class="product">


                    <img src="~/Images/@item.Img" width="160" height="160" />

                    <div align="center">

                        @if ((bool)ViewData["IsRu"])
                        {
                            @item.NameRu
                        }
                        else
                        {
                            @item.NameRo
                        }
                    </div>

                    @if (item.OnDiscount)
                    {
                        <div style="text-decoration:line-through; color:gray;">@item.Price mdl</div>
                        <h3 style="color:darkred;">@item.PriceOnDiscount mdl</h3>
                    }
                    else
                    {
                        <h3>@item.Price mdl</h3>
                    }
                    @if (item.amount != 0)
                    {
                        <a class="Buy" align="right" asp-action="Buy" asp-controller="Pay" asp-route-id="@item.Id">@ViewBag.Lang["Купить"]</a>
                    }
                </div>
            </a>
            }
       
      </div> 
      <a class="On" asp-action="OnDiscount" asp-controller="Market">
        <div class="text-center">
            @ViewBag.Lang["Показать Еще"]
        </div>
    </a>
}
<br />
<br />
@if (ViewData["New"] != null)
{
    <h1> @ViewBag.Lang["Новинки"]</h1>
    <div class="product-container">
        @foreach (var item in (List<ProductModel>)ViewData["New"])
        {
            <a asp-action="Details" asp-controller="Market" asp-route-id="@item.Id">
                <div class="product">


                    <img src="~/Images/@item.Img" width="160" height="160" />

                    <div align="center">

                        @if ((bool)ViewData["IsRu"])
                        {
                            @item.NameRu
                        }
                        else
                        {
                            @item.NameRo
                        }
                    </div>

                    @if (item.OnDiscount)
                    {
                        <div style="text-decoration:line-through; color:gray;">@item.Price mdl</div>
                        <h3 style="color:darkred;">@item.PriceOnDiscount mdl</h3>
                    }
                    else
                    {
                        <h3>@item.Price mdl</h3>
                    }
                    @if (item.amount != 0)
                    {
                        <a class="Buy" align="right" asp-action="Buy" asp-controller="Pay" asp-route-id="@item.Id">@ViewBag.Lang["Купить"]</a>
                    }
                </div>
            </a>
        }
    </div>
    <a class="On" asp-action="New" asp-controller="Market">
         <div class="text-center">
            @ViewBag.Lang["Показать Еще"]
        </div>
    </a>
}
<br />
<br />
@if (ViewData["Some"] != null)
{
    <h1>@ViewData["SomeN"]</h1>
  <div class="product-container">
    @foreach (var item in (List<ProductModel>)ViewData["Some"])
    {
            <a asp-action="Details" asp-controller="Market" asp-route-id="@item.Id">
                <div class="product">


                    <img src="~/Images/@item.Img" width="160" height="160" />

                    <div align="center">

                        @if ((bool)ViewData["IsRu"])
                        {
                            @item.NameRu
                        }
                        else
                        {
                            @item.NameRo
                        }
                    </div>

                    @if (item.OnDiscount)
                    {
                        <div style="text-decoration:line-through; color:gray;">@item.Price mdl</div>
                        <h3 style="color:darkred;">@item.PriceOnDiscount mdl</h3>
                    }
                    else
                    {
                        <h3>@item.Price mdl</h3>
                    }
                    @if (item.amount != 0)
                    {
                        <a class="Buy" align="right" asp-action="Buy" asp-controller="Pay" asp-route-id="@item.Id">@ViewBag.Lang["Купить"]</a>
                    }
                </div>
            </a>
      }
  </div>
  <a class="On" asp-action="Some" asp-controller="Market">
        <div class="text-center">
            @ViewBag.Lang["Показать Еще"]
        </div>
  </a>
}
<br />
<br />
@if(ViewData["Mailmessage"] == null){
<div class="text-center">
        <span> @ViewBag.Lang["Подпишитесь на наши свежие новости :"]</span>
    <form method="post" asp-action="AddEmail">
         <input type="email" name="Email" placeholder="Email"/>
         <button type="submit">@ViewBag.Lang["Подписаться"]</button>
    </form>
</div>
}