
@{
    ViewData["Title"] = "Market";
}
<h5> @ViewData["Mailmessage"] </h5>
@if (ViewData["OnDiscount"] != null){
    <h1>Discount</h1>
      <div class="product-container">
            @foreach (var item in (List<ProductModel>)ViewData["OnDiscount"])
            {
                <a asp-action="Details" asp-controller="Market" asp-route-id="@item.Id">
                 <div class="product">
                    <div class="discount">-0%</div>
                    
                        <img src="~/Images/@item.Img" alt="@item.NameRu" width="100" height="100" />
                    
                    <h5>@item.NameRu</h5>
                    <h3>@item.Price</h3>
                    <a class="Buy" asp-action="Buy" asp-controller="Pay" asp-route-id="@item.Id">Buy</a>
                 </div>
                </a>
            }
       
      </div> 
      <a class="On" asp-action="OnDiscount" asp-controller="Market">
        <div class="but text-center">
            Показать Еще
        </div>
    </a>
}
<br />
<br />
@if (ViewData["New"] != null)
{
    <h1>New</h1>
    <div class="product-container">
        @foreach (var item in (List<ProductModel>)ViewData["New"])
        {
            <a asp-action="Details" asp-controller="Market" asp-route-id="@item.Id">
                <div class="product">

                    <img src="~/Images/@item.Img" width="100" height="100"/>

                    <h5 align="center">@item.NameRu </h5>

                    <h3>@item.Price</h3>

                    <a class="Buy" align="right" asp-action="Buy" asp-controller="Pay" asp-route-id="@item.Id">Buy</a>
                </div>
            </a>
        }
    </div>
    <a class="On" asp-action="New" asp-controller="Market">
         <div class="but text-center">
            Показать Еще
        </div>
    </a>
}
<br />
<br />
@if (ViewData["Some"] != null)
{
  <h1>Some</h1>
  <div class="product-container">
    @foreach (var item in (List<ProductModel>)ViewData["Some"])
    {
        <a asp-action="Details" asp-controller="Market" asp-route-id="@item.Id">
            <div class="product">

                <img src="~/Images/@item.Img" width="100" height="100" />

                <h5 align="center">@item.NameRu </h5>

                <h3>@item.Price</h3>

                <a class="Buy" align="right" asp-action="Buy" asp-controller="Pay" asp-route-id="@item.Id">Buy</a>
            </div>
        </a>
      }
  </div>
  <a class="On" asp-action="Some" asp-controller="Market">
        <div class="but text-center">
            Показать Еще
        </div>
  </a>
}
<br />
<br />
<div class="text-center">
<span>Подпишитесь на наши свежие новости :</span>
    <form method="post" asp-action="AddEmail">
         <input type="email" name="Email" placeholder="Email"/>
         <button type="submit">Подписаться</button>
    </form>
</div>