@model IEnumerable<Omaha_market.Models.ProductModel>
@{
    ViewData["Title"] = "Results";
}

<br />
@if (ViewData["Category"] != null)
{
    <button style="width: 100%; justify-content:center;" class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        @ViewBag.Lang["Категории"]
    </button>

    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <div align="center">
                @foreach (var item in (List<CategoryModel>)ViewData["Category"])
                {
                    <div>
                        <a class="On" asp-action="Category" asp-controller="Market" asp-route-Name="@item.NameRu">
                            @if ((bool)ViewData["IsRu"])
                            {
                                @item.NameRu
                            }
                            else
                            {
                                @item.NameRo
                            }
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
}
<br />
<br />

@if(Model != null){
<br />
<br />

    <div class="home">
    @foreach (var item in Model)
    {

            <a asp-action="Details" asp-controller="Market" asp-route-id="@item.Id">
                <div class="product">


                    <img src="~/Images/@item.Img" width="250" height="250" />

                    <div align="center">

                        @if ((bool)ViewData["IsRu"])
                        {
                            @item.NameRu
                        }
                        else
                        {
                            @item.NameRo
                        }
                    </div>
                    <div style="margin-top: auto;">
                        @if (item.OnDiscount)
                        {
                            <div style="text-decoration:line-through; color:gray;">@item.Price mdl</div>
                            <h3 style="color:darkred;">@item.PriceOnDiscount mdl</h3>
                        }
                        else
                        {
                            <h3>@item.Price mdl</h3>
                        }
                        @if (item.amount != 0)
                        {
                            <a class="Buy" align="right" asp-action="Buy" asp-controller="Pay" asp-route-id="@item.Id">@ViewBag.Lang["Купить"]</a>
                        }
                    </div>
                </div>
            </a>
     }
    
  </div>
 <br />

  <div align="center">
    @if ((int)ViewData["Page"] > 1)
    {
        int i = (int)ViewData["Page"] - 1;

            <a align="left" asp-action="@ViewData["action"]" asp-controller="Market" asp-route-page="@i"><img height="10" src="~/Images/WebElements/arrowL.png" /></a>
    }
    @for (int i = 1; i <= (int)ViewData["AmountOfPages"];)
    {
        if ((int)ViewData["Page"] == i)
        {
                <a class="On" asp-action="@ViewData["action"]" asp-controller="Market" asp-route-page="@i">@i</a>
        }
        else
        {
                <a class="Page" asp-action="@ViewData["action"]" asp-controller="Market" asp-route-page="@i">@i</a>
        }
        i++;
    }
    @if ((int)ViewData["Page"] != (int)ViewData["AmountOfPages"])
    {
        int i = (int)ViewData["Page"] + 1;

            <a align="right" asp-action="@ViewData["action"]" asp-controller="Market" asp-route-page="@i"><img height="10" src="~/Images/WebElements/arrowR.png" /></a>
    }
  </div>
}
else{
    <h3 align="center">Ничего не найдено</h3>
}