@model IEnumerable<Omaha_market.Models.ProductModel>
@{
    ViewData["Title"] = "ShoppingCart";
}

<h1>ShoppingCart</h1>


<table>
    <tr>
        <th>Image</th>
        <th>Name</th>   
        <th>Price</th>
        <th></th>
        <th></th>
    </tr>
        @foreach (var item in Model)
        {
        <a asp-action="Details" asp-controller="Market" asp-route-id="@item.Id">
        <tr>
            <td><img src="~/Images/@item.Img" width="100px"/></td>
            <td>@item.NameRu</td>
            <td>@item.Price</td>
            <td><a class="Buy" asp-action="Buy" asp-controller="Pay" asp-route-id="@item.Id">Buy</a></td>
            <td><a asp-action="DeleteSh" asp-controller="ShoppingCart" asp-route-id="@item.Id"><img src="~/Images/WebElements/крест.png" width="20px" /></a></td>
        </tr>
        </a>
        }
</table>
