@model List<CartHelperModel>
@{
    ViewData["Title"] = "ShoppingCart";
}

<br />

@if (Model.Count() == 0)
{
    <h1 align="center">@ViewBag.Lang["Корзина Пуста"]</h1>
}
else{
    <div align="center">
        <h1>@ViewData["Sum"] MDL</h1>

        @using (Html.BeginForm("ProdInOrder", "ShoppingCart"))
        {
            <div style="overflow: hidden; height:0px;">
            @for (int i = 0; i < Model.Count(); i++)
            {
                @Html.EditorFor(m => m[i].NameRu)
                @Html.EditorFor(m => m[i].IdOfProduct)
                @Html.EditorFor(m => m[i].Quantity)
                @Html.EditorFor(m => m[i].NameRo)
                @Html.EditorFor(m => m[i].Price)
                @Html.EditorFor(m => m[i].Img)
            }
            </div>
            <button type="submit" class="Buy">@ViewBag.Lang["Купить все"]</button>
        }
    </div>
    <br />
<table class="table">
    @foreach (var item in Model)
        {     
        <tr>
            <td> <a asp-action="Details" asp-controller="Market" asp-route-id="@item.IdOfProduct"><img src="~/Images/@item.Img" class="cart"/></a></td>
                <td><a asp-action="Details" asp-controller="Market" asp-route-id="@item.IdOfProduct">
                        @if (ViewData["Language"]=="Ru")
                        {
                            <span>@item.NameRu</span>
                        }
                        else
                        {
                            <span>@item.NameRo</span>
                        }
                </a></td>
                <td><a asp-action="Quantityminus" asp-controller="ShoppingCart" asp-route-id="@item.IdOfProduct">-</a> @item.Quantity <a asp-action="Quantityplus" asp-controller="ShoppingCart" asp-route-id="@item.IdOfProduct">+</a></td>
                <td><a asp-action="DeleteSh" asp-controller="ShoppingCart" asp-route-id="@item.IdOfProduct"><img src="~/Images/WebElements/крест.png" class="dcart" /></a></td>
            </tr>
        }
</table>

}
